<style>
@import url('https://fonts.googleapis.com/css?family=Abel');
</style>
h1 {
     color: red;
}

h3 {
     background-color:yellow;
     color:white;
}

a {
     text-decoration: none;
}

img {
    float: right;
}

.header {
     background-color: peach;
     font-family: 'Abel';
     widht: 100px;
     height: 60px;
     
}
